<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="pageTypeBuilder" type="PageTypeBuilder.Configuration.PageTypeBuilderConfiguration, PageTypeBuilder"/>
    </configSections>
    <pageTypeBuilder disablePageTypeUpdation="true"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
